@use "../Utils/" as *;

.pop-up {
    min-width: 180px;
    aspect-ratio: 2/1;

    @include center-flex-column(25px);

    &__form {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__link {
        text-align: center;
        background-color: var(--bg-secondary);
        padding: 5px;
        border-radius: 100vmax;
    }

    &__image {
        aspect-ratio: 1/1;
        height: 16px;
    }
}