@use "../Utils/" as *;

@media (prefers-color-scheme: dark) {
    :root {
        --body-bg-color: black;
        --bg-secondary: #181818;
    }


    .pop-up__image {
        filter: invert(100%) hue-rotate(180deg)
    }
}